In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("data/news_articles.mtx", sep=" ", skiprows=2, names=['doc_id', 'term_id', 'nb_occurences'])

In [8]:
df.head()

   doc_id  term_id  nb_occurences
0       1     4649              1
1       1     2638              1
2       1     3785              1
3       1      621              1
4       1     3621              1

In [11]:
df.tail()

        doc_id  term_id  nb_occurences
221024    1839     2318              1
221025    1839     1447              1
221026    1839     4863              3
221027    1839     2836              1
221028    1839     4447             21

In [12]:
class_df = pd.read_csv('data/news_articles.labels', names=['doc_id', 'class'])

In [13]:
class_df.head()

   doc_id     class
0       1  business
1       2  business
2       3  business
3       4  business
4       5  business

In [14]:
class_df.tail()

      doc_id       class
1834    1835  technology
1835    1836  technology
1836    1837  technology
1837    1838  technology
1838    1839  technology