In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("data/news_articles.mtx", sep=" ", skiprows=2, names=['doc_id', 'term_id', 'nb_occurences'])

In [8]:
df.head()

   doc_id  term_id  nb_occurences
0       1     4649              1
1       1     2638              1
2       1     3785              1
3       1      621              1
4       1     3621              1