In [1]:
import pandas as pd
import math
import operator

In [2]:
class TextClassifier:
    
    training_set = None
    
    def __init__(self, document, dataset):
        self.document = document
        self.dataset = dataset
        self.similarity = {}
        self.count_classes= {'business': 0, 'politics': 0, 'sport': 0, 'technology': 0}
    
    @classmethod
    def define_training_set(dataset):
        training_set = dataset
        
    def look_up_cat(self, doc_id):
        doc_index = self.dataset.class_df['class'].loc[self.dataset.class_df['doc_id'] == doc_id].index[0]
        doc_class = self.dataset.class_df['class'][doc_index]
        return doc_class
        
    def classify(self, weighted=False):
        try:
            k = int(input())
        except ValueError:
            print("Please enter an integer >= 1")
            self.classify()
        if weighted:
            #Todo: add weighted method
            pass
        else:
            return self.classify_noweight(k)
            
    def classify_noweight(self, k):
        #takes the k nearest neighboors
        sorted_similarities = sorted(self.similarity.items(), key=operator.itemgetter(1), reverse=True)
        for i in range(k):
            curr_doc_id = sorted_similarities[i][0]
            curr_doc_cat = self.look_up_cat(curr_doc_id)
            self.count_classes[curr_doc_cat] += 1
        highest = max(self.count_classes.values())
        potential_classes = [k for k,v in self.count_classes.items() if v == highest]
        if len(potential_classes) > 1:
            k -= 1 # classify text using 1 less neighboors until there are either no equality
            return self.classify(1, weighted)
        return potential_classes[0]
        
    def create_similarity_dic(self):
        self.document.create_bag_of_words(self.dataset)
        for doc_id in self.dataset.class_df['doc_id']:
            if doc_id == self.document.doc_id:
                continue #ignore entry if it is the same document...
            curr_doc = Document(doc_id)
            curr_doc.create_bag_of_words(self.dataset)
            curr_cos = self.calculate_cosine(curr_doc)
            self.similarity[int(doc_id)] = curr_cos
        return self.similarity
    
    def calculate_cosine(self, other_doc):
        numerator = 0
        for term in self.document.bag_of_words:
            try:
                other_occur = other_doc.bag_of_words[term]
            except KeyError:
                continue #skip if term not in other document
            numerator += self.document.bag_of_words[term] * other_occur
        denominator_1 = math.sqrt(sum(map(lambda x:x**2, other_doc.bag_of_words.values())))
        denominator_2 = math.sqrt(sum(map(lambda x:x**2, self.document.bag_of_words)))
        
        return float(numerator / (denominator_1 * denominator_2))

In [3]:
class TextData:
    
    def __init__(self, data_file, class_file):
        self.df = pd.read_csv(data_file, 
                                    sep=" ", 
                                    skiprows=2, 
                                    names=['doc_id', 'term_id', 'nb_occurences'])
        self.class_df = pd.read_csv(class_file, 
                                      names=['doc_id', 'class'])

In [4]:
class Document(TextData):
    
    def __init__(self, doc_id):
        self.doc_id = doc_id
        self.bag_of_words = {}
    
    def create_bag_of_words(self, dataset):
        '''returns a dictionary of all (term_id, occurrences) of the terms present in the document'''
        df = dataset.df.loc[dataset.df['doc_id'] == self.doc_id].reset_index()
        for i in range(df.shape[0]):
            self.bag_of_words[df['term_id'][i]] = df['nb_occurences'][i]
        return self.bag_of_words
    
    def get_category(self):
        doc_index = self.dataset.class_df['class'].loc[self.dataset.class_df['doc_id'] == doc_id].index[0]
        doc_class = self.dataset.class_df['class'][doc_index]
        return doc_class

In [5]:
my_dataset = TextData('data/news_articles.mtx', 'data/news_articles.labels')

In [6]:
my_document = Document(500)

In [7]:
my_dataset

In [10]:
df = my_dataset.df

In [13]:
def split_in_k_folds(df, k):
        fold_size = df.shape[0] // k
        all_folds = [None] * k
        for i in range(k):
            all_folds[i] = df[fold_size * i: fold_size * i + fold_size]
        return all_folds

In [14]:
df.head()

   doc_id  term_id  nb_occurences
0       1     4649              1
1       1     2638              1
2       1     3785              1
3       1      621              1
4       1     3621              1

In [15]:
folds = split_in_k_folds(df, 10)

In [17]:
len(folds)

10

In [19]:
folds[1].shape

(22102, 3)

In [22]:
df.shape[0] // 10

22102

In [21]:
folds[2].shape

(22102, 3)

In [25]:
pd.concat([folds[0], folds[1]])

       doc_id  term_id  nb_occurences
0           1     4649              1
1           1     2638              1
2           1     3785              1
3           1      621              1
4           1     3621              1
5           1     1593              2
6           1     4126              3
7           1     3429              1
8           1     3420              1
9           1     2875              1
10          1     1940              1
11          1     4750              1
12          1     2302              1
13          1      114              1
14          1     3306              1
15          1     3648              1
16          1     2542              1
17          1      421              1
18          1     3907              2
19          1     2898              1
20          1     1586              1
21          1     4579              1
22          1     3696              1
23          1     1199              2
24          1      827              1
25          1     3911              1
26          1       80              1
27          1     3108              1
28          1     2964              1
29          1     3576              1
...       ...      ...            ...
44174     401     2362              1
44175     401     2016              3
44176     401     3198              2
44177     401     1858              1
44178     401       18              1
44179     401       49              1
44180     401     4143              3
44181     401     3959              1
44182     401     2292              4
44183     401     2255              1
44184     401     4283              1
44185     401     1144              1
44186     401     1893              1
44187     401     1065              1
44188     401     4668              1
44189     401     1077              1
44190     401     1929              1
44191     401      276              1
44192     401      773              1
44193     401      965              1
44194     401     2262              1
44195     401     1799              1
44196     401      223              1
44197     401     3294              1
44198     401     2927              2
44199     401      222              3
44200     401      189              1
44201     401     4864              1
44202     401      577              1
44203     401     3927              1

[44204 rows x 3 columns]

In [24]:
folds[0]

       doc_id  term_id  nb_occurences
0           1     4649              1
1           1     2638              1
2           1     3785              1
3           1      621              1
4           1     3621              1
5           1     1593              2
6           1     4126              3
7           1     3429              1
8           1     3420              1
9           1     2875              1
10          1     1940              1
11          1     4750              1
12          1     2302              1
13          1      114              1
14          1     3306              1
15          1     3648              1
16          1     2542              1
17          1      421              1
18          1     3907              2
19          1     2898              1
20          1     1586              1
21          1     4579              1
22          1     3696              1
23          1     1199              2
24          1      827              1
25          1     3911              1
26          1       80              1
27          1     3108              1
28          1     2964              1
29          1     3576              1
...       ...      ...            ...
22072     207     3818              1
22073     207     1610              1
22074     207     1837              1
22075     207     3319              1
22076     207     1042              1
22077     207     1187              1
22078     207     3590              2
22079     207     3588              3
22080     207     4449              1
22081     207     4520              1
22082     207      161              1
22083     207     4616              1
22084     207     1813              1
22085     207     1244              1
22086     207      857              1
22087     207     3138              1
22088     207      146              1
22089     207     3025              1
22090     207     1323              1
22091     207     3019              1
22092     207     1336              3
22093     207     3164              1
22094     207      816              1
22095     207     1136              1
22096     207     1304              1
22097     207     3082              1
22098     207     3599              1
22099     207       18              2
22100     207     3531              1
22101     207     2070              1

[22102 rows x 3 columns]